@model List<Naiva.Models.IndexMenu>

<div class="container body-content">
    @{
        ViewBag.Title = "Index";


    }

    <link href="~/Content/index.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/CVIndex.js"></script>

    
        <img src="~/Content/images/books2.jpg" style="float:left" />

        <button>
            @Html.ActionLink("CV", "CVIndex", "CV", new { area = "" }, new { @class = "navbar-brand btn" })
        </button>
    </div>

    

    







